<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/indexcard/indexcards" (click)="onSidenavClose()">
        <mat-icon>menu_book</mat-icon> <span class="nav-caption">Vocable List</span>
    </a>
    <a mat-list-item routerLink="/tests" (click)="onSidenavClose()">
        <mat-icon>school</mat-icon> <span class="nav-caption">Tests and Quizzes</span>
    </a>
    <a mat-list-item routerLink="/cheatsheets" (click)="onSidenavClose()">
        <mat-icon>ballot</mat-icon> <span class="nav-caption">Cheat Sheets</span>
    </a>
    <a mat-list-item routerLink="/plans" (click)="onSidenavClose()">
        <mat-icon>poll</mat-icon> <span class="nav-caption">Training Plans</span>
    </a>
</mat-nav-list>